---
import * as style from "./association.css";

import Layout from "../components/Layout.astro";
---

<Layout pageClass={style.page}>
  <h1>Présentation de l'Association Tech F'Est</h1>
  <p>
    Tech F'Est est une association dynamique dédiée à la promotion et à
    l'organisation de conférences technologiques dans la région du Grand Est,
    avec un ancrage particulier à Nancy. Notre mission est de rassembler les
    passionné·e·s de technologie, de développement et d'innovation pour
    favoriser les échanges, le partage de connaissances et la création de liens
    au sein de la communauté tech locale.
  </p>
  <p>
    Née de la collaboration entre les membres actifs de l'AFUP Lorraine et des
    Apéro Web, Tech F'Est se positionne comme un acteur clé dans l'écosystème
    numérique régional. Nous organisons des événements qui mettent en lumière
    les talents locaux et attirent des experts renommés, offrant ainsi une
    plateforme d'apprentissage et de réseautage unique.
  </p>
  <p>
    Rejoignez-nous pour nos conférences annuelles et autres événements tout au
    long de l'année, où vous pourrez découvrir des interventions inspirantes,
    participer à des ateliers pratiques et échanger avec des professionnels
    partageant vos intérêts. Que vous soyez développeur ou développeuse,
    ingénieur·e, étudiant·e ou simplement passionné·e par les technologies, Tech
    F'Est vous ouvre ses portes pour enrichir vos connaissances et élargir votre
    réseau.
  </p>
  <p>Ensemble, faisons du Grand Est un pôle d'excellence technologique !</p>
</Layout>
