---
import * as style from "./sponsoring.css";

import Layout from "../components/Layout.astro";
---

<Layout pageClass={style.page}>

<h1>Code de conduite</h1>

<div>
Tech F'Est est une conférence communautaire sur le développement web,
organisée par une équipe de bénévoles passionnés issus de l'AFUP
(Association Française des Utilisateurs de PHP) et des organisateurs des
Apéros Web Nancy.
En tant qu'association à but non lucratif (loi 1901), notre mission est de
promouvoir le partage de connaissances et la collaboration au sein de la
communauté du développement web.
</div>

Cette conférence acceuillant du public, notre code de conduite s'applique donc.

 WIP --------- à compléter! ici copy paste de l'afup ... 
La participation aux activités de Tech F'Est se veut une expérience agréable et conviviale, ouverte à toutes et à tous quelque soit le sexe,
le genre, l’orientation sexuelle, le handicap, l’apparence physique, le poids, l’origine ou la religion des participants.
Nous ne tolérons donc aucun harcèlement ou attaque, sous aucune forme.
Cela inclut toute communication entre participants quel que soit le lieu ou le médium.
Les participants qui enfreignent ces règles peuvent être sanctionnés, voire exclus de l’événement ou leur adhésion annulée sans remboursement.

</Layout>
