---
import * as style from "./sponsoring.css";

import Layout from "../components/Layout.astro";
---

<Layout pageClass={style.page}>

<h1>Code de conduite</h1>

<div>
Tech F'Est est une journée de conférence communautaire sur le développement web,
organisée par une équipe de bénévoles passionnés issus de l'AFUP
(Association Française des Utilisateurs de PHP) et des organisateurs des
Apéros Web Nancy.
En tant qu'association à but non lucratif (loi 1901), notre mission est de
promouvoir le partage de connaissances et la collaboration au sein de la
communauté du développement web.
</div>

Cette conférence acceuillant du public, notre code de conduite s'applique donc.


<h2> Notre Engagement</h2>

En tant que participants, bénévoles, intervenants et organisateurs de cette conférence, nous nous engageons à créer un environnement inclusif, respectueux et bienveillant pour tous, sans distinction d'âge, de taille, de handicap, d'origine ethnique, d'identité et d'expression de genre, de niveau d'expérience, de nationalité, d'apparence personnelle, de race, de religion ou d'orientation sexuelle.

<h2> Nos Standards</h2>
<h3> Comportements Positifs et Encouragés </h3>

Nous valorisons les comportements qui contribuent à un environnement accueillant et dynamique : </br>

- Faire preuve d'empathie et de bienveillance envers les autres </br>
- Respecter les opinions, expériences et perspectives différentes </br>
- Accepter et donner des retours constructifs avec professionnalisme </br>
- Se concentrer sur ce qui est le mieux pour la communauté </br>
- Faire preuve de respect mutuel </br>

<h2> Comportements Inacceptables </h2>

Les comportements suivants sont considérés comme du harcèlement et ne sont pas tolérés : </br>

- Commentaires offensants ou discriminatoires </br>
- Insultes, remarques désobligeantes ou personnelles </br>
- Harcèlement public ou privé </br>
- Partage de contenus à caractère sexuel ou violent </br>
- Intimidation délibérée ou persécution </br>
- Photographies ou enregistrements non consentis </br>
- Interruptions répétées des présentations ou discussions </br>
- Toute forme de comportement qui pourrait être considérée comme inappropriée dans un cadre professionnel </br>

<h2> Responsabilités des Organisateurs </h2>

Les organisateurs de la conférence sont responsables de clarifier les standards de comportement acceptable et sont habilités à prendre des mesures correctives appropriées en réponse à tout comportement jugé inacceptable.

<h2> Conséquences </h2>

Les personnes qui ne respectent pas le code de conduite pourront : </br>
- Recevoir un avertissement </br>
- Être temporairement exclus des activités de la conférence </br>
- Être définitivement exclus de la conférence et de futurs événements </br>

<h2> Signalement </h2>

Si vous êtes témoin ou victime de comportements inacceptables, veuillez contacter immédiatement : </br>
- [Nom du Responsable] </br>
- [Email de Contact] </br>
- [Numéro de Téléphone] </br>

Toutes les plaintes seront examinées et traitées de manière confidentielle et professionnelle. </br>

<h2> Engagement Personnel </h2>

En signant ce code de conduite, je m'engage à :  </br>
- Respecter l'ensemble de ces principes  </br>
- Contribuer à un environnement positif et inclusif  </br>
- Traiter tous les participants avec respect et dignité  </br>
- Signaler tout comportement inapproprié  </br>

Nom : ____________________ </br>
Signature : ____________________ </br>
Date : ____________________ </br>

<h2> Conclusion </h2>

Notre journée de conférence est un espace d'apprentissage, de partage et de collaboration.
Ensemble, nous pouvons créer une communauté technique respectueuse et épanouissante. </br> </br>

</Layout>
