---
import { themeClass } from "../theme.css";
import * as style from "./index.css";

import Nav from "../components/Nav.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Tech F'Est</title>
  </head>
  <body class:list={[themeClass, style.page, style.landing]}>
    <Nav />

    <h1>Tech F'Est</h1>
    <h2>Vendredi 13 Juin 2025</h2>
  </body>
</html>
