---
import * as style from "./infos.css";

import Layout from "../components/Layout.astro";
---

<Layout pageClass={style.page}>

Venez assister à une journée de conférences à Nancy, et n'hésitez pas à visiter la ville! <br>
Voici toutes les informations pour nous rejoindre le vendredi 15 Juin, et peut-être rester pour le week-end.

    <h1>Rejoindre l’I.U.T. Nancy – Charlemagne</h1>

    L’IUT Nancy-Charlemagne est situé au 2Ter Bd Charlemagne à Nancy. <br> <br>

    Des trains toute la journée <br>
    Lille-Nancy : 14 trajets/jour, dès 6h42 <br>
    Luxembourg – Nancy : 33 trajets/jour, dès 5h16 <br>
    Metz-Nancy : 51 trajets/jour, dès 6h02 <br>
    Paris-Nancy : 15 trajets/jour, dès 7h05 <br>
    Reims-Nancy : 13 trajets/jour, dès 7h06 <br>
    Strasbourg-Nancy : 20 trajets/jour, dès 4h44 <br>

    <h2>En transports en commun</h2>

    à pieds : L’IUT Nancy-Charlemagne est facile d’accès et se trouve à 25 minutes à pied de la gare SNCF de Nancy. <br>
    en bus : En Bus avec le Réseau Stan : les lignes 3 (arrêt Médreville) et 16 (arrêt Charlemagne) desservent l’IUT. Trajet simple : 1,70€ <br>

    Pour en savoir plus sur les bus : consultez le plan du réseau <a href="https://www.reseau-stan.com/se-deplacer/itineraire-plans/plans-du-reseau">STAN.</a> </br>

     <h2>En voiture</h2>
    Retrouvez les parkings (payants) de la ville de Nancy situés à proximité. </br>

     <h2>En vélo</h2>
    L’IUT dispose d’un garage à vélo fermé à clefs

    <h2>Accessibilité</h2>
    L’IUT est accessible aux personnes à mobilité réduite avec des aménagements spécifiques : ascenseurs, amphithéâtres, toilettes, rampes d’accès. <br>

    Pour information, les sièges dans l’amphithéâtre ne présentent pas d’accoudoirs. </br>

    Si vous souhaitez en savoir plus ou si vous souhaitez vous assurer que vous pourrez assister dans de bonnes conditions au Tech F'Est 2025,
    n’hésitez pas à contacter l’équipe d’organisation. </br>


    <h1>Infos pratiques</h1>
    <h2>Horaires</h2>

    Les portes ouvrent à 8h30 et la première conférence débute vers 9h. La journée se termine vers 18h </br>
    Des temps de pause sont prévus dans la journée : une pause café le matin, une pause déjeuner entre 12h30 et 14h, et une pause dans l’après-midi.</br>
    Consultez le planning détaillé publié prochainement pour tout savoir de la journée.</br>

    <h2>Repas</h2>
    Nous travaillons avec un traiteur indépendant local, qui met l’accent sur les produits de saison, locaux et bio
    avec une politique de zéro déchet au maximum. </br>
    Il porte également une attention particulière aux différents régimes alimentaires. </br>
    N’hésitez pas à nous contacter si vous avez un régime alimentaire particulier (notamment lié aux allergies). </br>

    <h2>Vos manteaux et bagages</h2>
    Nous ne disposons pas d’espace où organiser un vestiaire au sein de l’IUT Nancy – Charlemagne.
    Quelques portants sont mis à disposition dans la salle du buffet, où vous pouvez laisser vos vestes et petits sacs.
    Notez cependant qu’ils seront sans surveillance : gardez vos objets de valeur avec vous.

    <h2>Respect du code de conduite</h2>
    Cette conférence acceuillant du public, notre code de conduite s'applique donc.
    Retrouvez-le <a href="/coc">ici</a>

    Si vous rencontrez le moindre souci, n'hésitez pas à vous rapprocher d'un membre de l'organisation

</Layout>
