---
import * as style from "./infos.css";

import Layout from "../components/Layout.astro";
---

<Layout pageClass={style.page}>
  <h2>Rejoindre l’I.U.T. Nancy – Charlemagne</h2>

  <p>
    l’I.U.T. Nancy – Charlemagne est situé au 2Ter Bd Charlemagne, à Nancy. Il
    se trouve à 25 minutes à pieds de la gare SNCF de Nancy.
  </p>

  <h3>En train</h3>
  Lille-Nancy : 14 trajets/jour, dès 6h42 <br />
  Luxembourg-Nancy : 33 trajets/jour, dès 5h16 <br />
  Metz-Nancy : 51 trajets/jour, dès 6h02 <br />
  Paris-Nancy : 15 trajets/jour, dès 7h05 <br />
  Reims-Nancy : 13 trajets/jour, dès 7h06 <br />
  Strasbourg-Nancy : 20 trajets/jour, dès 4h44 <br />

  <h3>En bus</h3>

  <p>
    Les lignes 3 (arrêt Médreville) et 16 (arrêt Charlemagne) desservent l’IUT.
    Trajet simple : 1,70€. Pour en savoir plus sur les bus : consultez le plan
    du réseau <a
      href="https://www.reseau-stan.com/se-deplacer/itineraire-plans/plans-du-reseau"
      target="_blank"
    >
      STAN</a
    >.
  </p>

  <h3>En voiture</h3>
  <p>
    Retrouvez les parkings (payants) de la ville de Nancy situés à proximité. Il
    ne sera pas possible de se garer dans l'I.U.T.
  </p>

  <h3>En vélo</h3>
  <p>L’IUT dispose d’un garage à vélo fermé à clefs.</p>

  <h2>Accessibilité</h2>
  <p>
    L’IUT est accessible aux personnes à mobilité réduite avec des aménagements
    spécifiques : ascenseurs, amphithéâtres, toilettes, rampes d’accès.
  </p>

  <p>
    Pour information, les sièges dans l’amphithéâtre ne présentent pas
    d’accoudoirs. Si vous souhaitez en savoir plus ou si vous souhaitez vous
    assurer que vous pourrez assister dans de bonnes conditions au Tech F'Est
    2025, n’hésitez pas à <a href="mailto:contact@tech-fest.dev"
      >contacter l’équipe d’organisation</a
    >.
  </p>

  <h2>Infos pratiques</h2>
  <h3>Horaires</h3>

  <p>
    Les portes ouvrent à 8h30 et la première conférence débute vers 9h. La
    journée se termine vers 18h Des temps de pause sont prévus dans la journée :
    une pause café le matin, une pause déjeuner entre 12h30 et 14h, et une pause
    dans l’après-midi. Consultez le planning détaillé publié prochainement pour
    tout savoir de la journée.
  </p>

  <h3>Repas</h3>
  <p>
    Nous travaillons avec un traiteur indépendant local, qui met l’accent sur
    les produits de saison, locaux et bio avec une politique de zéro déchet au
    maximum. Il porte également une attention particulière aux différents
    régimes alimentaires. N’hésitez pas à nous contacter si vous avez un régime
    alimentaire particulier (notamment lié aux allergies).
  </p>

  <h3>Vos manteaux et bagages</h3>
  <p>
    Nous ne disposons pas d’espace où organiser un vestiaire au sein de l’IUT
    Nancy – Charlemagne. Quelques portants sont mis à disposition dans la salle
    du buffet, où vous pouvez laisser vos vestes et petits sacs. Notez cependant
    qu’ils seront sans surveillance : gardez vos objets de valeur avec vous.
  </p>

  <h3>Respect du code de conduite</h3>
  <p>
    Cette conférence acceuillant du public, notre code de conduite s'applique
    donc. Retrouvez-le en télechargement
    <a href="/code de conduite.pdf" download>ici</a>.
  </p>

  <p>
    Si vous rencontrez le moindre souci, n'hésitez pas à vous rapprocher d'un
    membre de l'organisation
  </p>
</Layout>
