---
import * as style from "./speakers.css";

import Layout from "../components/Layout.astro";
import Speaker from "../components/Speaker.astro";
---

<Layout pageClass={style.page}>
  <section class={style.speakers}>
    <Speaker
      title="Migration Technique: un parcours du combattant"
      name="Arnaud Lahaxe"
      abstract="Migrer un code legacy vieux de plus de 20 ans, encore massivement utilisé pour des fonctionnalités critiques au cœur du business, est un défi de taille. Entre dette technique, complexité accumulée et exigences métier incontournables, comment mener à bien une telle transformation sans mettre en péril l'activité de l'entreprise ?    Dans cette conférence, je partagerai mon retour d'expérience sur la migration d'un système legacy central, en abordant les méthodologies, outils et bonnes pratiques qui ont permis de minimiser les risques et d'assurer une transition en douceur. Vous découvrirez comment nous avons identifié les zones à risque, mis en place une approche progressive et embarqué progressivement les développeurs dans la migration.    Que vous soyez en pleine réflexion sur la modernisation de votre stack ou confronté à un projet de migration d’envergure, cette session vous donnera des clés concrètes pour anticiper les obstacles et maximiser vos chances de succès."
    />
  </section>
</Layout>
