---
import Logo from "./Logo.astro";
import * as style from "./Nav.css";
---

<nav class={style.nav}>
  <a href="/" class={style.home}><Logo />Tech F'Est</a>
  <div class={style.links}>
    <a href="/sponsoring" class={style.link}>Sponsoring</a>
  </div>
</nav>
